%nav
  =link_to "CMS - alpha", root_path, class: "navbar-brand"
  #main-nav
    %ul
      -@menus.find { |menu| menu.name == "Testing menu" }.menu_items.each do |item|
        %li
          =link_to item.title, item.url